doctype html
html(lang='en')
  head
    title Mary's title
  body
    h4#author(title=GossJS) Шибаева Мария
    h1 Пример работы шаблонизатора
    #container
      p Список логинов:
      ol
        each item in items
          li= item.login